<a href="https://colab.research.google.com/github/vineelnekkanti/Python-for-DS-and-ML/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
2

2

In [6]:
2+3

5

In [7]:
2**3

8

In [8]:
2/3

0.6666666666666666

In [9]:
2+3*5/4

5.75

In [10]:
5==5

True

In [11]:
4%2

0

In [14]:
a=2
b=3
print(a**b)

8

In [57]:
#comparison operators
print(1<2)
print(1==2)
print(2>1)
print("hi"!="there" and 2<2)
print("hi"!="there" or 2<2)

True
False
True
False
True

In [22]:
#Strings
a="Hello World"
b='...HI'
a+b #concat

'Hello World...HI'

In [25]:
#printing in a different formats
name="Alex"
age=35
print(f'Hi My name is {name} and my age is {age}') #using f strings to print
print('Hi My name is {} and my age is {}'.format(name,age)) #using format

Hi My name is Alex and my age is 35
Hi My name is Alex and my age is 35

In [32]:
#String Operations
a='Python'
print(a[0])
print(a[4]) #indexing the strings
print(a[-2])
print(a[0:])
print(a[:3]) # start:(n-1) index
print(a[:])

P
o
o
Python
Pyt
Python

In [35]:
#Lists
a=[1,2,3]
b=['a','b','c']
a.append(4)
b.append(5)
print(a)
print(b)

[1, 2, 3, 4]
['a', 'b', 'c', 5]

In [41]:
#more operations on lists
print(a[0])
print(b[1:2])
a[1]='Alex'
print(a)
nested_list=[1,2,['a',6,7]] #using nested lists
print(nested_list[2][1])

1
['b']
[1, 'Alex', 3, 4]
6

In [30]:
#Tuples: denoted within ()
#only thing is tuples looks like same as lists but the important differece is
#TUPLES ARE IMMUTABLE UNLIKE LISTS
a=(1,2,3)
print(a[1])
#a[1]=1  #throws an error

2

In [48]:
#dictionaries {key:value}
dict1={'key1':[1,2,3],'key2':(1,2,3)}
print(dict1['key1'][2])
print(dict1['key2'][0])

#nested key
dict2={"key3":{'key4':[456,567]}}
print(dict2['key3']['key4'][1])

3
1
567

In [52]:
#SET: It is a collection of unique elements irrespective of any number of duplicates

set1={1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5,5,5,5,'hi','hi'}
print(set1) #check the output. It just displays the unique values
set1.add(6)
set1.add(6)
set1.add("there")
set1

{1, 2, 3, 4, 5, 'hi'}

{1, 2, 3, 4, 5, 6, 'hi', 'there'}

In [61]:
#IF condition

if 1<10:
  print('1 is less than 10')

0

In [62]:
#IF/ELIF/ELSE else
if 1<10:
  print('1 is less than 10')
elif 10==10:
  print('10 equals 10!')
else:
  print("Invalid")

1 is less than 10

In [9]:
#WHILE LOOP
a=0
while a<5:
  print(f"python {a+1} loop")
  a+=1

python 1 loop
python 2 loop
python 3 loop
python 4 loop
python 5 loop

In [63]:
#FOR LOOP
a=[1,2,3,4,5]
for x in a:
  print(x)

1
2
3
4
5

In [10]:
#for with RANGE

In [13]:
for i in range(0,5):
  print(f"python {i+1} loop")

python 1 loop
python 2 loop
python 3 loop
python 4 loop
python 5 loop

In [19]:
print(tuple(range(15)))
print(list(range(15)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [20]:
p=[1,2,3,4,5]
q=[]
for i in p:
  q.append(i**i)
print(q)

[1, 4, 27, 256, 3125]

In [25]:
#Functions
def adding(a,b,c=100): #c is a default value we can consider it as a global mapping
  """ THIS A DOC STRING
  THIS FUNCTION HELPS WITH ADDITION """
  return a+b+c
adding(5,17)

122